html, body, #app, #app>div {
    height: 100%
}

.button-link {
    text-decoration: none;
    color: unset;
}

body > #root {
    height: 100vh;
  }

.header-wrapper {
    margin-bottom: 3.5%;
}


.center-text {
    text-align: center;
}
.component-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2em;
}